$listbg: #848484;
$barcolour: #ff1d1d;

html {
  .list {
    background-color: $listbg;
    border-radius: 5px;
    .list-item {
      height: 30px;
      padding: 5px;
      margin-top: 3px;
      border-bottom: 1px #383838 solid;
    }
  }

  #whitelist {
    #welcome {
      float: left;
    }
    #welcome, #signout {
      display: inline-block;
    }
    #signout {
      float: right;
    }
    #site-data {
      display: inline-block;
      width: 100%;

      .label {
        color: $txtcolor;
      }

      .slider {
        border: 1px solid #000;
        height: 20px;
        border-radius: 20px;
        //width: 90%;
        .slide {
          display: block;
          width: 20%;
          height: 100%;
          float: left;
          border-right: 1px #000 solid;
        }
        .slide:first-child {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
        .slide:last-child {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border-right-style: none;
          border-right-width: 1px;
          border-right-color: none;
        }

        .slide.active, .slide:hover {
          background-color: #000;
          cursor: pointer;
        }
      }
    }
  }
}
