@import "vars";
@import "landing";

/* Global styles */
html {
  box-sizing: border-box;
  *:focus {
    outline: none;
  }
  #whitelist {
    #welcome {
      float: left;
    }
    #welcome, #signout {
      display: inline-block;
    }
    #signout {
      float: right;
      margin-top: 11.5px;
    }
    #site-data {
      display: inline-block;
      width: 100%;

      .label {
        color: $txtcolor;
      }

      .slider {
        border: 1px solid #000;
        height: 20px;
        border-radius: 20px;
        width: 100%;
        background-color: #000;
        .slide {
          display: block;
          width: calc(20% - 1px);
          height: 100%;
          float: left;
          background-color: #fff;
          border-right: 1px #000 solid;
        }
        .slide:first-child {
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
        }
        .slide:last-child {
          border-top-right-radius: 20px;
          border-bottom-right-radius: 20px;
          border-right: none;
        }

        .slide.active, .slide:hover {
          background-color: #000;
          cursor: pointer;
        }
      }
    }
  }
  h1#header {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    .first {
      color: $txtcolor;
    }
    div {
      display: inline-block;
      margin-left: -3px;
    }
  }
  body {
    width: 200px;
    height: 500px;
    padding-right: 10px;
    padding-left: 1px;
    font-family: $font;
  }
  input {
    font-family: $font;
    height: 25px;
  }
  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
    border-width: 2px;
  }
  input[type="email"], input[type="password"] {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    font-size: 16px;
    padding-left: 6px;
  }
  input[type="button"], button {
    width: 105%;
    margin-top: 12px;
    margin-bottom: 10px;
    background-color: $btcolor;
    color: $bttext;
    font-weight: 100;
    border: 0;
    height: 30px;
    font-size: 16px;
  }
  input[type="button"]:hover, button:hover {
    background-color: $bthover;
    cursor: pointer;
  }

  footer {
    margin-top: 25px;
    margin-bottom: 25px;
    color: grey;
    font-weight: bold;
    .version {
      font-weight: 100;
      font-size: 10px;
    }
  }

}
