@import "vars";

//extra vars
$listbg: #848484;

html {
  input[type="button"], button {
    width: 150px;
  }

  h1#header {
    .first, .second {
      font-size: $biglogo;
    }
  }
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    #whitelist {
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      .title {
        margin-top: 40px;
        .mark {
          float: right;
          margin-top: -37px;
        }
      }
      .list {
        background-color: $listbg;
        border-radius: 5px;
        .list-item {
          height: 50px;
          padding: 5px;
          margin-top: 3px;
          padding-top: 15px;
          padding-left: 45px;
        }
        .list-item:not(:last-child) {
          border-bottom: 1px #383838 solid;
        }
      }
    }

  }
}
